@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes pink-butter-fly {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }

  100% {
    transform: translate(100px, -300px); /* Move para cima (desaparece) */
    opacity: 0; /* Desaparece */
  }
}

@keyframes yellow-butter-fly {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(-100px, -300px); /* Move para cima (desaparece) */
    opacity: 0; /* Desaparece */
  }
}

@keyframes fall {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  25% {
    transform: translate(10px, 25vh);
  }
  100% {
    transform: translate(0px, 100vh);
    opacity: 0;
  }
}

:root {
  --background-color: #1b1b1b;
  --font-color: #e4e4e4;
}

#background {
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
}

.dark-overlay {
  background-color: var(--background-color);
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  opacity: 0;
  z-index: 100;
  transition: opacity 3s ease;
  pointer-events: none;
}

.dark-overlay.active {
  opacity: 0.9;
}

#timer-and-poem-box {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer,
#poem {
  color: var(--font-color);
}

#timer {
  font-family: "Roboto Serif", serif;
  font-size: 15px;
  padding-top: 40%;
  padding-bottom: 60%;
}

#poem {
  font-family: "Courier Prime", monospace;
  font-size: 18px;
  line-height: 150%;
  padding: 0 5%;
}

.rose-image,
.tulip-image,
.lily-image,
.oleander-image {
  position: absolute;
}

.rose-image {
  width: 60vw;
  left: -20px;
  bottom: 0px;
}

.tulip-image {
  height: 209px;
  bottom: 0px;
}

.lily-image {
  width: 55vw;
  left: 0px;
  bottom: -50px;
}

.oleander-image {
  height: 275px;
  bottom: 0px;
  left: 0px;
}

.rain-drop {
  position: absolute;
  width: 2px;
  height: 50px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  border-bottom-left-radius: 2px;
  border-top-right-radius: 2px;
  opacity: 1;
  animation: fall 1000ms linear forwards; /* Animação de queda */
}
