@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --background-color: #1b1b1b;
  --font-color: #e4e4e4;
}

#background {
  background-color: var(--background-color);
  height: 100vh;
  overflow: hidden;
}

#timer-and-poem-box {
  height: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#timer-font,
#poem-font {
  color: var(--font-color);
}

#timer-font {
  font-family: "Roboto Serif", serif;
  font-size: 15px;
}

#poem-font {
  font-family: "Courier Prime", monospace;
  font-size: 20px;
}

.rose-image,
.tulip-image,
.lily-image {
  position: absolute;
  z-index: 10;
}

.rose-image {
  width: 348px;
  left: -100px;
}

.tulip-image {
  height: 209px;
  bottom: 0px;
}

.lily-image {
  width: 277px;
  left: -45px;
  bottom: -150px;
}
